.act{
    background-color: rgb(228, 233, 236);
    color: black;
    text-align: center;
    padding-top: 30pt;
    padding-right: 9pt;
    padding-left: 9pt;
    font-family: 'Amatic SC';
    font-size: large;
}